@charset "UTF-8";

    /* 
    Typical Device Breakpoints:
    ---------------------------
    Pequenas telas: Até 600px;
    Celular: De 600px até 768px;
    Tablet: De 768px até 992px;
    Desktop: De 992px até 1200px;
    Grandes telas: Acima de 1200px.
    */

    * {
        margin: 0;
        padding: 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

@media screen and (max-width:500px){
    body {
        overflow-x: hidden;
    }
    html {
        scroll-behavior: smooth;
    }
    .cabeca {
        width: 100%;
        height: 85px;
        background: linear-gradient(to right, rgb(136, 209, 136), rgb(111, 183, 111));
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.729);
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.622);
        margin-bottom: 10px;
    }
    .cabeca h1 {
        padding-top: 15px;
        font-size: 1.5em;
    }
    .cabeca h2 {
        font-size: 1em;
    }
    .main h2 {
        text-align: center;
        font-size: 1em;
        padding: 5px;
    }
    .main p {
        font-size: 14.5px;
        margin-left: 10px;
        text-indent: 12px;
        }
    #exemplo {
        text-align: center;
        margin-bottom: 20px;
    }
    img {
        display: block;
        margin: auto;
        width: 360px;
        margin-top: 10px;
    }
    .calc {
        width: 95%;
        height: 320px;
        display: block;
        margin: auto;
        transition: .3s ease;
        background-color: aliceblue;
        border: 1px solid rgb(255, 0, 0);
        border-radius: 3px;
        padding: 5px;
    }
    .calc input, label {
        display: block;
        margin: auto;
        padding: 2px;
    }
    .calc label {
        text-align: center;
        margin-top: 4px;
    }
    .calc input {
        border-radius: 10px;
        width: 150px;
        height: 18px;
    }
    #botao {
        width: 200px;
        height: 30px;
        display: block;
        margin: auto;
        margin-top: 25px;
        background-color: rgb(73, 73, 234);
        color: #fff;
        font-weight: bold;
        border: 1px solid #5e5e5e;
        border-radius: 13px;
    }
    .final-text {
        width: 98%;
        height: 260px;
        display: block;
        margin: auto;
        ;
    }
    .final-text h3 {
        font-size: 1.1em;
        text-align: center;
        padding: 15px;
    }
    .final-text p {
        display: block;
        margin: auto;
        width: 94%;
        text-align: justify;
        font-size: 0.9em;
    }
    footer {
        width: 100%;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to right, rgb(86, 149, 86), rgb(68, 131, 68));
    }
    footer p {
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-align: center;
    }
    footer a {
        text-decoration: none;
        color: white;
    }
}